---
import { Image, getImage } from "astro:assets";
import Cat1 from "@public/cat1.jpg";
import Cat2 from "@public/cat2.jpg";
import Cat3 from "@public/cat3.jpg";

const superCat1 = await getImage({src: Cat1, format: 'webp'});
const superCat2 = await getImage({src: Cat2, format: 'webp'});
const superCat3 = await getImage({src: Cat3, format: 'webp'});

const kitten1SRC = await getImage({src: Cat1});
const kitten2SRC = await getImage({src: Cat2});
const kitten3SRC = await getImage({src: Cat3});

const kitty1URL = `url(${Cat1.src})`;
const kitty2URL = `url(${Cat2.src})`;
const kitty3URL = `url(${Cat3.src})`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Image src={Cat1} id="about-image" alt="..." width={500} height={500}/>
	</body>
	<style define:vars={{ superCat1, superCat2, superCat3, kitty1URL, kitty2URL, kitty3URL }}>
		#about-image {
			animation: image-change 5s ease-in infinite;
		}
	
		/* THIS IS WHAT I SHOULD BE ABLE TO DO (at least somewhat - point of the issue) */
		/* Thought I could just do this so the URLs would be processed ... they don't. */
		/* Also tried @src/, ../images/, @src/images/, /src/images/, etc. */
		/* @keyframes image-change {
			25% {background-image: url('@images/cat2.png');} 
			75% {background-image: url('@images/cat3.png');}
			100% {background-image: url('@images/cat1.png');}
		}	 */

		/* Works via Public (Where images aren't processed, at thus such, URL(s) don't change) */
		/* @keyframes image-change {
			25% { content: url('/cat2.jpg'); }
			75% { content: url('/cat3.jpg'); }
			100% { content: url('/cat1.jpg'); }
		} */

		/* Mimiced from https://docs.astro.build/en/guides/images/#generating-images-with-getimage - doesn't work POSTCSS error*/
		/* @keyframes image-change {
			25% {`background-image: url(${superCat2.src});`}
			75% {`background-image: url(${superCat3.src});`}
			100% {`background-image: url(${superCat1.src});`}
		}	 */

		/* URLs not resolved idk if this is how it was supposed to be from above example */
		/* @keyframes image-change {
			25% {background-image: url(`${superCat2.src}`);}
			75% {background-image: url(`${superCat3.src}`);}
			100% {background-image: url(`${superCat1.src}`);}
		}	 */

		/* From: https://stackoverflow.com/questions/77475581/astro-pass-varaiable-for-background-image, also doesn't seem to do anything / work */
		/* @keyframes image-change {
			25% {background-image: var(--kitty2URL);} 
			75% {background-image: var(--kitty3URL);}
			100% {background-image: var(--kitty1URL);}
		}	 */

		/* Suggested by: @oliverspeir - Discord Tread */
		/* @keyframes image-change {
    		25% { content: url(kitten2SRC.src); }
    		75% { content: url(kitten3SRC.src); }
    		100% { content: url(kitten1SRC.src); }
		} */
	</style>
</html>
